---
type Playlist = {
    playlist_id: string;
    group_id: string;
}

interface Props extends Playlist {}

const { playlist_id, group_id } = Astro.props;

const playlistUrl = `/group/${group_id}/playlist/${playlist_id}`;
---
<li id={playlist_id}>
    <a class="text-blue-500 underline" href={`/group/${group_id}/playlist/${playlist_id}`}>
        {playlist_id}
    </a>
</li>
