---
import Base from '@/layouts/Base.astro';
import Playlist from '@/components/Playlist.astro';
import GroupModel from '@models/group.js';

const { user } = Astro.locals;

if (!user) return Astro.redirect('/401');

if (!Astro.params.group_id) return Astro.redirect('/404');

const idParam = parseInt(Astro.params.group_id);

const group = await GroupModel.getById(idParam);

if (!group) return Astro.redirect('/404');

const inGroup = await group.userInGroup(user);

if (!inGroup) return Astro.redirect('/401');

const { id, name } = group;

const playlists = await group.getPlaylists();
---
<Base>
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold capitalize">{name}</h1>
    <div class="flex flex-wrap py-4 gap-4">
      <div>
        <h2>Add Playlist:</h2>
        <div class="p-4 w-fit border border-blue-500">
          <form action="/api/group/playlist/add" method="POST">
            <input type="hidden" name="group_id" value={id} />
            <input type="text" name="playlist_id" placeholder="Spotify Playlist ID" />
            <br />
            <button type="submit">Add Playlist</button>
          </form>
        </div>
      </div>

      <div>
        <h2>Create invite:</h2>
        <div class="p-4 w-fit border border-blue-500">
          <form action={`/api/group/invite/create`} target="_blank" method="POST">
            <input type="hidden" name="group_id" value={id} />
            <input class="w-32" type="number" min="1" max="10" name="invite_count" placeholder="Invite Count" />
            <br />
            <button type="submit">Create Invite</button>
          </form>
        </div>
      </div>

      <div>
        <h2>Delete Group:</h2>
        <div class="p-4 w-fit border border-blue-500">
          <form action="/api/group/delete" method="POST">
            <input type="hidden" name="group_id" value={id} />
            <button type="submit">Delete Group</button>
          </form>
        </div>
      </div>

      <div>
        <h2>Leave Group:</h2>
        <div class="p-4 w-fit border border-blue-500">
          <form action="/api/group/leave" method="POST">
            <input type="hidden" name="group_id" value={id} />
            <button type="submit">Leave Group</button>
          </form>
        </div>
      </div>
    </div>

    <div class="py-4">
      <h2>Playlists:</h2>
      { playlists.map((playlist) => ( <Playlist playlist={playlist} /> )) }
    </div>
  </div>
</Base>
