---
import Base from '@/layouts/Base.astro';
import Playlist from '@/components/Playlist.astro';
import GroupModel from '@models/group.js';

const { user } = Astro.locals;

if (!user) return Astro.redirect('/401');

if (!Astro.params.group_id) return Astro.redirect('/404');

const idParam = parseInt(Astro.params.group_id);

const group = await GroupModel.getById(idParam);

if (!group) return Astro.redirect('/404');

const inGroup = await group.userInGroup(user);

if (!inGroup) return Astro.redirect('/401');

const { id, name } = group;

const playlists = await group.getPlaylists();
---
<Base>
  <h1>Group: {name}</h1>
  <p>Group ID: {id}</p>

  <div class="flex">
    <div class="p-4">
      <h2>Add Playlist:</h2>
      <div class="p-4 w-fit border border-blue-500">
        <form action={`/api/group/playlist/add`} method="POST">
          <input type="hidden" name="group_id" value={id} />
          <input type="text" name="playlist_id" placeholder="Spotify Playlist ID" />
          <br />
          <button type="submit">Add Playlist</button>
        </form>
      </div>
    </div>

    <div class="p-4">
      <h2>Create invite:</h2>
      <div class="p-4 w-fit border border-blue-500">
        <form action={`/api/group/invite/create`} target="_blank" method="POST">
          <input type="hidden" name="group_id" value={id} />
          <input class="w-32" type="number" min="1" max="10" name="invite_count" placeholder="Invite Count" />
          <br />
          <button type="submit">Create Invite</button>
        </form>
      </div>
    </div>
  </div>

  <div class="p-4">
    { playlists.map((playlist) => ( 
      <Playlist playlist={playlist} /> 
    )) }
  </div>
</Base>
